<div class="main">
  <div class="top">
    <div class="top__contents">
      <% if  current_user.groups.ids.blank?%>
        <div class = "top__contents--btn">
          <%= link_to  new_group_path, class:"link__btn" do%>
            登&emsp;録
          <% end %>
        </div>
      <% else %>
        <div class = "top__contents--btn">
          <%= link_to top_group_reports_path(@group), class:"link__btn" do%>
            日&emsp;報
          <% end%>
        </div>
        <div class = "top__contents--btn">
          <%= link_to search_group_reports_path(@group), class:"link__btn size" do%>
            検&emsp;索
          <% end %>
        </div>
      <% end %>
      <div class = "top__contents--btn">
        <%= link_to edit_attendance_path(@attendance), class:"link__btn" do%>
          勤務表
        <% end%>
      </div>
      <div class = "top__contents--btn">
        <%= link_to weather_index_path, class:"link__btn size",data: {"turbolinks" => false} do%>
          天&emsp;気
        <% end%>
      </div>
    </div>
  </div>
  <%= render partial: "side" %>
</div>
