<div class = "content">
  <div class = "content__title">
    下記の内容を記載して変更してください。
  </div>
  <%= form_with model: @group, class: :form__group, local: true do |form| %>
    <div class= "form__group--tag">
      <div class= "form__group--name">
        <div class = "input">
          <p>所属メンバー :</p>
        </div>
        <div class= "input__group">
          <input name= "group[user_ids][]" type="hidden" value=<%= current_user.id%> style="user-select: auto;">
          <p class="chat-group-user__name" style="user-select: auto;"> <%= current_user.name %></p>
        </div>
      </div>
      <div class= "input">
        <span>担当部署 :</span>
        <%= form.select :name,["製造課","工務課","安全管理課","品質安全課","設備保全課"], class: :group__register  %>
      </div>
    </div>
    <%= form.submit 'データ送信', class: :form__btn %>
  <% end %>
</div>