<div class = "content">
  <div class = "content__title">
    部署を選択して登録してください。
  </div>

  <%= form_with url: groups_path, html: { method: :post } ,class: :form__group, local: true do |form| %>
    <div class= "form__group--tag">
      <div class= "form__group--name">
        <div class = "input">
          <p>氏名 :</p>
        </div>
        <div class= "new__name">
          <input name= "user_ids" type="hidden" value=<%= current_user.id%>>
          <p class="chat-group-user__name"> <%= current_user.name %></p>
        </div>
      </div>
      <div class= "input">
        <span>担当部署 : </span>
          <%= form.select name= "group_id", class: :group__register  do %>
            <option value= "">------------</option>
            <option value="6">製造課</option>
            <option value="7">工務課</option>
            <option value="8">安全管理課</option>
            <option value="9">品質安全課</option>
            <option value="10">設備保全課</option>
          <% end %>
      </div>
    </div>
    <%= form.submit 'データ送信', class: :form__btn %>
  <% end %>
</div>




