<div class="contents">
  <div class="contents__today">
    <%= @today_attendance.days.strftime("%Y年%m月%d日") %>
  </div>
  <%= form_with model: @today_attendance do |f| %>
    <div class="contents__btn_list">
      <div>
        <%= f.submit "出勤", class: :contents__btn_list__work_start %>
        <p class="contents__btn_list__push_time_now"><%= @today_attendance.work_start.in_time_zone('Tokyo').strftime("%H:%M") %></p>
      </div>
      <div>
        <%= f.submit "退勤", class: :contents__btn_list__work_end %>
        <p class="contents__btn_list__push_time_now"><%= @today_attendance.work_end.in_time_zone('Tokyo').strftime("%H:%M") %></p>
      </div>
    </div>
    <div class="contents__remarks_area">
      <%= f.text_area :remarks, class: :contents__remarks_area__remarks %>
    </div>
  <% end %>
</div>