<div class="contents">
  <div id="contents__today" class="contents__today">
    <%= @today_attendance.days.strftime("%Y年%m月%d日") %>
  </div>
  <%= form_with model: @today_attendance do |f| %>
    <div class="contents__btn_list">
      <div>
        <%= f.submit "出勤", class: :contents__btn_list__work_start, id: :work_start__btn %>
        <p id="work_start__hours" class="contents__btn_list__push_time_now"><%= @today_attendance_work_start %></p>
      </div>
      <div>
        <%= f.submit "退勤", class: :contents__btn_list__work_end, id: :work_end__btn %>
        <p id="work_end__hours" class="contents__btn_list__push_time_now"><%= @today_attendance_work_end %></p>
      </div>
    </div>
    <div class="contents__remarks_area">
      <%= f.text_area :remarks, class: :contents__remarks_area__remarks %>
    </div>
  <% end %>
</div>