<div class="title"><span id="year"><%= @year %></span>年<span id="month"><%= @month %></span>月の勤務表</div>

<table class="list">
  <tr class="list__headers">
    <th class="list__headers__header">日付</th>
    <th class="list__headers__header">出勤</th>
    <th class="list__headers__header">退勤</th>
    <th class="list__headers__header">備考</th>
  </tr>

  <% @attendance_list.each do |attend| %>
    <tr class="list__contents">
      <td><%= attend.year %>年<%= attend.month %>月<%= attend.day %>日</td>
      <% if attend.work_start.nil? %>
        <td class="list__contents__performance"><input type="text" disabled="disabled" value="<%= attend.work_start %>"></td>
      <% else %>
        <td class="list__contents__performance"><input type="text" disabled="disabled" value="<%= attend.work_start.in_time_zone('Tokyo').strftime("%H:%M") %>"></td>
      <% end %>
      <% if attend.work_end.nil? %>
        <td class="list__contents__performance"><input type="text" disabled="disabled" value="<%= attend.work_end %>"></td>
      <% else %>
        <td class="list__contents__performance"><input type="text" disabled="disabled" value="<%= attend.work_end.in_time_zone('Tokyo').strftime("%H:%M") %>"></td>
      <% end %>
      <td class="list__contents__performance"><input type="text" disabled="disabled" value="<%= attend.remarks %>"></td>
    </tr>
  <% end %>
</table>

<%= form_tag(attendances_path,:method => 'get') do %>
  <%= hidden_field_tag 'year', "#{@year}"%>
  <%= hidden_field_tag 'month', "#{@month}"%>
  <div class="btn_field" style="display:flex;justify-content:space-around;padding:30px 0 60px;">
    <%= submit_tag '前月', name: "search", style: "width:60px;", id: "last" %>
    <%= submit_tag '次月', name: "search", style: "width:60px;", id: "next" %>
  </div>
<% end %>