<div class="content__title">
  新規記事の作成
</div>

<%= form_with model: @post, class: :form, local: true do |form| %>
  <%# <%= render 'layouts/error_messages', model: form.object %> 
  <%= form.text_field :title, placeholder: :タイトル, class: :form__title %>
  <%= form.text_area :content, placeholder: :ブログ本文, class: :form__text , content__titles: "10", id: "content" %>
  <%= form.submit '記事送信', class: :form__btn %>
<% end %>