<!DOCTYPE html>
<html>
  <head>
    <title>HopeClogged</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class= "bolk">
        <div class="header">
          <div class= "header__top">
            <%= link_to "TOP", root_path%>
          </div>
          <div class= "header__title">
            <%= Date.today %>
          </div>
          <div class= "header__user">
            <%# <% if current_user == group.id%>
              <%= link_to "公務課", new_group_path %>
              
            <%# <% end %> 
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
