<!DOCTYPE html>
<html>
  <head>
    <title>HopeClogged</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class= "bolk">
        <div class="header">
          <div class= "header__top">
            <%= link_to "TOP", root_path%>
          </div>
          <div class= "header__title">
            <%= Date.today %>
          </div>
          <div class= "header__user">
            <%if user_signed_in?%>
                <% if current_user.groups.length > 0 %>
                  <% current_user.groups.each do |g|%>
                    部署: <%=g.name%>
                  <%end%>
                <%else%>
                  <p>部署を登録してください。</p>
                <%end%>
            <% else %>
              <%= link_to "ユーザー登録してください。", new_user_session_path %>
            <%end%>
          </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>