<!DOCTYPE html>
<html>
  <head>
    <title>HopeClogged</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class= "header__title">
          2019/10/10 friday
        </div>
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
